### What you will learn

- creation
- indexing and slicing
- operators with list
- functions
- list comprehension
- lambda expression
- map and filter


## Properties
- is indexed
- is mutable(dynamic/changeable at runtime)
- is heterogenous (can store different datatype element)
- is represented by square breacket []
- has a function called list()
- can hold duplicate elements
- can be nested

In [94]:
x= [] # empty list
print(x)

[]

In [95]:
y = [1,2,3,4]
print(y)
color = ['red', 'blue', 'green']
print(color)
z= [True, False, True]
print(z)

[1, 2, 3, 4]
['red', 'blue', 'green']
[True, False, True]

In [96]:
a= [1,2,'apple', 'banana', True,21,22]
print(a)

[1, 2, 'apple', 'banana', True, 21, 22]

In [97]:
nest_list = [[1,2], [3,4], [4,5]]
print(nest_list)

[[1, 2], [3, 4], [4, 5]]

In [98]:
name = "Sylvester"
name_char = list(name)
print(name_char)

['S', 'y', 'l', 'v', 'e', 's', 't', 'e', 'r']

In [99]:
# advance way of reolication
ones= [1,2]*10
ones

[1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2]

In [100]:
x =[43,1,2,31,23,1,45,6,56,23,23,12]
print(x[0])
print(x[-1])
print(x[-5])

43
12
6

In [101]:
x[0]= 5
x[-1]= 10
x

[5, 1, 2, 31, 23, 1, 45, 6, 56, 23, 23, 10]

In [102]:
x[:5]

[5, 1, 2, 31, 23]

In [103]:
x[2:-2] # everything except first 2 and last 2

[2, 31, 23, 1, 45, 6, 56, 23]

In [104]:
x[-5:]

[6, 56, 23, 23, 10]

In [105]:
x[::-1] # reversing

[10, 23, 23, 56, 6, 45, 1, 23, 31, 2, 1, 5]

In [106]:
# replication => list cab be multiplied with postive integer only
[0]*8

[0, 0, 0, 0, 0, 0, 0, 0]

In [107]:
z= [5,9]

In [108]:
# concatenation => list can be concatenated with a list
x + z

[5, 1, 2, 31, 23, 1, 45, 6, 56, 23, 23, 10, 5, 9]

In [109]:
xz =x+ z
print(xz)

[5, 1, 2, 31, 23, 1, 45, 6, 56, 23, 23, 10, 5, 9]

### function(method)
- for adding item
   - append
   - insert
   - extend
- for removing item
   - remove - by value
   - pop - by index
   - clear
- other functions
   - count
   - index
   - copy

In [110]:
books = ['Pygmalion', 'Julias Caeser']

In [111]:
books.append("Legion")
books

['Pygmalion', 'Julias Caeser', 'Legion']

In [112]:
books.append('The Final Empire')
books

['Pygmalion', 'Julias Caeser', 'Legion', 'The Final Empire']

In [113]:
books.append('12')
books

['Pygmalion', 'Julias Caeser', 'Legion', 'The Final Empire', '12']

In [114]:
x = ['red','yellow', 'blue']

In [115]:
x.insert(1,'orange')
x

['red', 'orange', 'yellow', 'blue']

In [116]:
x.insert(2,'green')
x

['red', 'orange', 'green', 'yellow', 'blue']

In [117]:
new_books=['New Moon', 'The chamber of secrets']

In [118]:
books.extend(new_books)
books

['Pygmalion',
 'Julias Caeser',
 'Legion',
 'The Final Empire',
 '12',
 'New Moon',
 'The chamber of secrets']

In [119]:
if 12 in books:
  books.remove(12)
books

['Pygmalion',
 'Julias Caeser',
 'Legion',
 'The Final Empire',
 '12',
 'New Moon',
 'The chamber of secrets']

In [120]:
books.pop(1) # pops outs elemntes from index 5
books

['Pygmalion',
 'Legion',
 'The Final Empire',
 '12',
 'New Moon',
 'The chamber of secrets']

In [121]:
x

['red', 'orange', 'green', 'yellow', 'blue']

In [122]:
x.clear()
x

[]

In [123]:
books.reverse()
books

['The chamber of secrets',
 'New Moon',
 '12',
 'The Final Empire',
 'Legion',
 'Pygmalion']

In [124]:
books.sort()
books

['12',
 'Legion',
 'New Moon',
 'Pygmalion',
 'The Final Empire',
 'The chamber of secrets']

In [125]:
x= [1,2]*4 + [4,5]*5
x

[1, 2, 1, 2, 1, 2, 1, 2, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5]

In [126]:
x.count(1)

4

In [127]:
y= ['alpha', 'beta','gamma']
print(y.index('alpha'))

0

In [128]:
x= [1,2,3]
y= x.copy()
x.append(10)
y.append(20)
print(x)
print(y)

[1, 2, 3, 10]
[1, 2, 3, 20]

In [129]:
x= [1,2,3]
y= x
x.append(10)
y.append(20)
print(x)
print(y)

[1, 2, 3, 10, 20]
[1, 2, 3, 10, 20]

### Comprehension

- a way to write a single line of code, that will help to create a new list(iterable) from existing data. It saves a lot of coding time

In [130]:
x= [1,2,3,4,5,6]
y = []
for i in x:
    y.append(i + 10)
print(y)

[11, 12, 13, 14, 15, 16]

In [131]:
z = [i + 11 for i in x]
print(z)

[12, 13, 14, 15, 16, 17]

In [132]:
color = ['red', 'green', 'blue']
color2 = [c.title() for c in color]
color2

['Red', 'Green', 'Blue']

In [133]:
x_even = [1,2,3,3,4,5,6,2,3,4,5]
x_even = [i for i in x if i % 2 ==0]
sum(x_even)

12

## Lambda expression

- simple anonymous function that can perform simple one line coding expression 
- we use lanbda keyword
- syntax
   varible = lambda temp_var : expression

In [134]:
f = lambda i : i *5 + (i - 5)

In [135]:
f(9)

49

In [136]:
g = lambda p,b : (p** 2 + b ** 2)** 0.5

In [137]:
g(4,5)

6.4031242374328485

In [146]:
x = [1,34,56,]
result = []
for i in x :
     result.append(f(i))
result

[1, 199, 331]

In [139]:
result =[f(i) for i in x]
result

[1, 199, 331]

In [140]:
list(map(f,x))

[1, 199, 331]

In [141]:
a= [1,2,3,5]
b= [9,0,8,7]
h = list(map(g,a,b))
print(h)

[9.055385138137417, 2.0, 8.54400374531753, 8.602325267042627]

In [142]:
x = [1,2,3,4,6]
x2 = list(map(lambda i: i**2 , x))
x2

[1, 4, 9, 16, 36]

In [143]:
list(filter(lambda i: i% 2 !=0,x))

[1, 3]

In [144]:
[i for i in x if i % 2 !=0]

[1, 3]