In [1]:
a = 'hello'
print(a)
print(type(a))

hello
<class 'str'>

### what you will learn ?

- string creation
- string operation 
- string indexing and slining 
- string functions

In [2]:
a = "yellow"
print(a)

yellow

In [3]:
x = input("enter something>>")
print(x,type(a))

blue <class 'str'>

In [4]:
str([1,45,89])

'[1, 45, 89]'

In [5]:
chr(78)

'N'

In [6]:
for i in range(200):
    print(chr(i),end=' ')

        
                     ! " # $ % & ' ( ) * + , - . / 0 1 2 3 4 5 6 7 8 9 : ; < = > ? @ A B C D E F G H I J K L M N O P Q R S T U V W X Y Z [ \ ] ^ _ ` a b c d e f g h i j k l m n o p q r s t u v w x y z { | } ~  ¬Ä ¬Å ¬Ç ¬É ¬Ñ ¬Ö ¬Ü ¬á ¬à ¬â ¬ä ¬ã ¬å ¬ç ¬é ¬è ¬ê ¬ë ¬í ¬ì ¬î ¬ï ¬ñ ¬ó ¬ò ¬ô ¬ö ¬õ ¬ú ¬ù ¬û ¬ü ¬† ¬° ¬¢ ¬£ ¬§ ¬• ¬¶ ¬ß ¬® ¬© ¬™ ¬´ ¬¨ ¬≠ ¬Æ ¬Ø ¬∞ ¬± ¬≤ ¬≥ ¬¥ ¬µ ¬∂ ¬∑ ¬∏ ¬π ¬∫ ¬ª ¬º ¬Ω ¬æ ¬ø √Ä √Å √Ç √É √Ñ √Ö √Ü √á

### string operation using operators

In [7]:
"lion" + " king"

'lion king'

In [8]:
"delhi" + " 6"

'delhi 6'

In [9]:
# string can be doplicated using  with a postive integer
"apple"*0

''

In [10]:
"Apple"* 90

'AppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleAppleApple'

In [11]:
"spiderman is a " + 'üòÄ' * 5 + "movie"

'spiderman is a üòÄüòÄüòÄüòÄüòÄmovie'

In [12]:
for i in range(1,15):
    print("n" * i)

n
nn
nnn
nnnn
nnnnn
nnnnnn
nnnnnnn
nnnnnnnn
nnnnnnnnn
nnnnnnnnnn
nnnnnnnnnnn
nnnnnnnnnnnn
nnnnnnnnnnnnn
nnnnnnnnnnnnnn

In [13]:
for i in range(10,0,-1):
    print("12"*i)

12121212121212121212
121212121212121212
1212121212121212
12121212121212
121212121212
1212121212
12121212
121212
1212
12

In [14]:
name = 'leon kennedy'

In [15]:
name[6]

'e'

In [16]:
name[-4]

'n'

## Indexing and slicing

squre bracket after a iterable varible means indexing and slicing logic

- sicling syntax
 var [start: stop] - start from an index and select data till stop
 var[: stop]- start from 0 and select till stop 
 var [start:]- from the value and select till ending of string
 var [start:stop (:gap)]

In [17]:
name = 'vijay deenanath chuhan'

In [18]:
print(name[0], name[-1])

v n

In [19]:
print(name[5:10])

 deen

In [20]:
print(name[0:5])

vijay

In [21]:
name[:5]
name[-7:]

' chuhan'

In [22]:
name[6:-8]

'deenanat'

In [23]:
word = 'encyclopedia'

In [24]:
word[-5:]

'pedia'

In [60]:
# only char at even indexes
word[::2]

'eccoei'

In [61]:
# only chars at odd indexes
word[1::2]

'nylpda'

In [26]:
word[1::-1]

'ne'

In [62]:
# reverse a string data
word[::-1]

'aidepolcycne'

## FUNCTIONS IN STRING
- formatting function
- validation function
- utility function

### FORMATTING FUNCTIONS

In [28]:
msg = 'This is not  massage'

In [29]:
msg.upper()

'THIS IS NOT  MASSAGE'

In [30]:
msg.lower()

'this is not  massage'

In [31]:
msg.casefold()

'this is not  massage'

In [32]:
msg.title()

'This Is Not  Massage'

In [33]:
msg

'This is not  massage'

In [34]:
msg.capitalize()

'This is not  massage'

In [35]:
msg.swapcase()

'tHIS IS NOT  MASSAGE'

In [36]:
msg.swapcase?

Signature: msg.swapcase()
Docstring: Convert uppercase characters to lowercase and lowercase characters to uppercase.
Type:      builtin_function_or_method

In [37]:
help(msg.swapcase)

Help on built-in function swapcase:

swapcase() method of builtins.str instance
    Convert uppercase characters to lowercase and lowercase characters to uppercase.

In [38]:
name.rjust(89)

'                                                                   vijay deenanath chuhan'

In [39]:
name.ljust(90)

'vijay deenanath chuhan                                                                    '

In [40]:
name.center(90)

'                                  vijay deenanath chuhan                                  '

In [41]:
name[:5].center(90)

'                                          vijay                                           '

In [42]:
for i in range(1,15,2):
    print(("l" * i).center(13))

      l
     lll
    lllll
   lllllll
  lllllllll
 lllllllllll
lllllllllllll

###21- 12- 21

## validation functions

In [43]:
age = input("enter a age")
if age.isnumeric():
    print("age is numeric")
    age = int(age)
else:
    print("age is not numeric")

age is numeric

In [44]:
value = input("enter a value")
print("Numeric", value.isnumeric())
print("Alaphabets only", value.isalpha())
print("Only blank space", value.isalnum())
print("only upper", value.isupper())
print("only lower", value.islower())
print("only the title case", value.istitle())
print("only chacter", value.isspace())

Numeric True
Alaphabets only False
Only blank space True
only upper False
only lower False
only the title case False
only chacter False

## Utility functions (important)
- find
- replace
- split
- join 
- count
- strip

In [45]:
large_text ='''
Wikipedia was launched on January 15,
 2001, by Jimmy Wales and Larry Sanger; Sanger coined its name as a blending of
  "wiki" and "encyclopedia"
'''
len(large_text)

147

In [63]:
# find methods gives us the starting index of the sequence you want to find
large_text.find("series")

-1

In [47]:
large_text.rfind("and")

128

In [48]:
print(large_text.replace("is","are"))

Wikipedia was launched on January 15,
 2001, by Jimmy Wales and Larry Sanger; Sanger coined its name as a blending of
  "wiki" and "encyclopedia"

In [49]:
print(large_text.replace("is","are",8))

Wikipedia was launched on January 15,
 2001, by Jimmy Wales and Larry Sanger; Sanger coined its name as a blending of
  "wiki" and "encyclopedia"

In [64]:
words=large_text.split() # word split
print(words)
len(words)

['Wikipedia', 'was', 'launched', 'on', 'January', '15,', '2001,', 'by', 'Jimmy', 'Wales', 'and', 'Larry', 'Sanger;', 'Sanger', 'coined', 'its', 'name', 'as', 'a', 'blending', 'of', '"wiki"', 'and', '"encyclopedia"']

24

In [51]:
sentences = large_text.split(".")
print(sentences)
len(sentences)

['\nWikipedia was launched on January 15,\n 2001, by Jimmy Wales and Larry Sanger; Sanger coined its name as a blending of\n  "wiki" and "encyclopedia"\n']

1

In [52]:
sentences = large_text.split('k')
print(sentences)

['\nWi', 'ipedia was launched on January 15,\n 2001, by Jimmy Wales and Larry Sanger; Sanger coined its name as a blending of\n  "wi', 'i" and "encyclopedia"\n']

In [53]:
namelist = ['Androw', 'Munna','rohan']

In [54]:
''.join(namelist)

'AndrowMunnarohan'

In [55]:
' '.join(namelist)

'Androw Munna rohan'

In [56]:
large_text.count('the')

0

In [57]:
large_text.casefold().count('on')

1

In [58]:
clean_word = word.strip()
print(len(clean_word))

12