In [2]:
student={
    'name' : 'rahul',
    'class': 4,
    'age': 10,
    'hostler' : 'true',
    'vehicle': 'false'
}

In [3]:
student

{'name': 'rahul', 'class': 4, 'age': 10, 'hostler': 'true', 'vehicle': 'false'}

### PROPERTIES

- is unindexed
- key:value based structure
- key is always unique for a single
- value can be of any data type abd can be duplicated
- mutable and heterogenous
- represented by { } with key:value pair
- has a function called dict()

##### what u need to learn?
- creat 
- loop 
- operation 
- function
- comprehenesion
- map,filter

In [4]:
x = {}
type(x)

dict

In [5]:
colordata = {
    'red': '#ff000',
    'blue': '#000ff',
    'green':'#00ff0',
    'orange': '#ff8800'
}
colordata

{'red': '#ff000', 'blue': '#000ff', 'green': '#00ff0', 'orange': '#ff8800'}

In [6]:
fruit_prices =dict(apple = 100, orange = 40, banana = 40, dragonfruit = 226)
fruit_prices

{'apple': 100, 'orange': 40, 'banana': 40, 'dragonfruit': 226}

In [1]:
# nested dictionary
marks ={
    'animesh':{
        'english': 4,
        'hindi': 5,
        "maths": 9,
    },
    'syush':{
        'english': 6.3 ,
        'hindi': 3,
        'maths': 6
    }
}
marks

{'animesh': {'english': 4, 'hindi': 5, 'maths': 9},
 'syush': {'english': 6.3, 'hindi': 3, 'maths': 6}}

## how to access data

In [7]:
fruit_prices['apple']
fruit_prices

{'apple': 100, 'orange': 40, 'banana': 40, 'dragonfruit': 226}

In [8]:
marks['animesh']

{'english': 4, 'hindi': 5, 'maths': 9}

In [9]:
marks['animesh']['hindi']

5

In [10]:
scores ={
    'alex' : [10,20,30,40],
    'alexa': [2,40,20,10,30]
}

In [11]:
scores['alexa']

[2, 40, 20, 10, 30]

In [12]:
scores['alex'][2]

30

## for loop for dict

In [31]:
# by deadfult a dict will only provied un the keys
for i in colordata:
    print(i)

red
blue
green
orange
yellow

In [34]:
#getting value the naive way
for i in colordata:
    print(i, colordata[i])

red #ff000
blue #000ff
green #00ff0
orange #ff8800
yellow #ffff0

In [35]:
#getting value the another way
for i in colordata.values():
    print(i)

#ff000
#000ff
#00ff0
#ff8800
#ffff0

In [33]:
# the proper way for dict traversal
for k,v in colordata.items():
    print(k,v)

red #ff000
blue #000ff
green #00ff0
orange #ff8800
yellow #ffff0

In [16]:
for k,data in marks.items():
    print(k)
    print(data)

animesh
{'english': 4, 'hindi': 5, 'maths': 9}
syush
{'english': 6.3, 'hindi': 3, 'maths': 6}

In [17]:
for k,data in marks.items():
    print(k,data)

animesh {'english': 4, 'hindi': 5, 'maths': 9}
syush {'english': 6.3, 'hindi': 3, 'maths': 6}

In [18]:
for k,data in marks.items():
    print(k)
    print(data)

animesh
{'english': 4, 'hindi': 5, 'maths': 9}
syush
{'english': 6.3, 'hindi': 3, 'maths': 6}

In [19]:
for k,data in marks.items():
    print(k, '=>')
    if isinstance(data,dict):
        for k,v in data.items():
            print("\t",k,v)
        else:
            print(data)

animesh =>
	 english 4
	 hindi 5
	 maths 9
{'english': 4, 'hindi': 5, 'maths': 9}
syush =>
	 english 6.3
	 hindi 3
	 maths 6
{'english': 6.3, 'hindi': 3, 'maths': 6}

#### functions
- add
 - no function for single key value pair
 - update
- remove
 - pop
 - clear
- utility
 - copy
 - get 
 - fronkeys
 - items
 - keys
 - values 
 ## how to add a single k:v pair in dict

In [20]:
marks['kuldeepak']= {'hindi':5}
marks

{'animesh': {'english': 4, 'hindi': 5, 'maths': 9},
 'syush': {'english': 6.3, 'hindi': 3, 'maths': 6},
 'kuldeepak': {'hindi': 5}}

In [37]:
fruit_prices['banana']= 50 # existing key can be update
fruit_prices

{'banana': 50}

In [36]:
colordata['yellow']= '#ffff0' # new key and value will be added
colordata

{'red': '#ff000',
 'blue': '#000ff',
 'green': '#00ff0',
 'orange': '#ff8800',
 'yellow': '#ffff0'}

In [23]:
veg_prices ={
    "tamato": 30,
    "patato": 20
}

In [24]:
fruit_prices.update(veg_prices)
fruit_prices

{'apple': 100,
 'orange': 40,
 'banana': 50,
 'dragonfruit': 226,
 'tamato': 30,
 'patato': 20}

In [25]:
fruit_prices.pop('tamato')

30

In [26]:
fruit_prices

{'apple': 100, 'orange': 40, 'banana': 50, 'dragonfruit': 226, 'patato': 20}

In [27]:
fruit_prices.popitem()

('patato', 20)

In [28]:
fruit_prices.clear()

In [29]:
fruit_prices

{}