In [1]:
"kuldeepak kushwaha"

'kuldeepak kushwaha'

In [2]:
25+25

50

In [3]:
print(2)
print("how are you?input")
print("fine")

2
how are you?input
fine

In [4]:
input("enter your college")

's. r. m. g.p .c'

In [5]:
x=10
y=20

In [6]:
college=input("enter the college")

In [7]:
print(x,y)

10 20

In [8]:
print(college)

s.r.m.g.p.c

# operator in python
- mathimatics
- compersion
- assigment
- logical
- membership
- instance

In [9]:
a=10
b=7

In [10]:
a+b

17

In [11]:
print(a-b)
print(a/b)
print(a*b)

3
1.4285714285714286
70

In [12]:
print(a//b) #quotient

1

In [13]:
print(a%b) #reminder

3

In [14]:
print(a**b)#expension

10000000

In [15]:
2+3-10*3+6//2

-22

In [16]:
#assigment
size=10

In [17]:
size +=5

In [18]:
size-=5

In [19]:
del a #destory from memory

In [20]:
size /=2
size *=5
size %=3
size //=2

In [21]:
# comparsion 
x>y

False

In [22]:
x<y

True

In [23]:
100>=20

True

In [24]:
x!=y

True

logical operator
- and > means every condition should be correct
- or > means one condition should be correct 
- not > all condition is inncorrect

In [25]:
age=18
country="india"

In [26]:
age>18 and country == "india"

False

In [27]:
age==18 or country=="india"

True

In [28]:
a=[2,3,4,5,1]

In [29]:
# membership operatior 
3 in a

True

In [30]:
fridge=['water','ice cream','sweats','chease']

In [31]:
'water' in fridge

True

In [32]:
'Water' in fridge

False

In [33]:
# datatypes

# datatypes
python has basically 9 types of data
- integer => 'int'
- float => 'float'
- boolean =>  'bool''true'/ 'false'
- nonetype => 'none'

- string
- list

In [34]:

a=10
print(type(a))

a=str(a)
print(type(a))

<class 'int'>
<class 'str'>

In [35]:
a= 10
print(type(a))
a=bool(a)
print(type(a))

<class 'int'>
<class 'bool'>

In [36]:
name=input("who are you")
age=input("what is your age")
ans=input("how many days in leap year")
is_married=input("are you married")

print(name,type(name))
print(age,type(age))
print(ans,type(ans))
print(is_married,type(is_married))

kuldeepak <class 'str'>
24 <class 'str'>
366 <class 'str'>
no <class 'str'>

In [37]:
age=int(age)
age>18

True

In [38]:
a=int(input('enter a'))
b=int(input('enter b'))
a+b

13

In [39]:
a=float(input('enter a'))
b=float(input('enter b'))
a+b

13.0

In [40]:
# displayiny output using print

In [41]:
print("this is line \n this is another line")

this is line
 this is another line

In [42]:
print("this is line","this is another line",sep="\n")

this is line
this is another line

In [43]:
print("hello",end=',')
print("india")

hello,india

# displaying content wih varibles

In [44]:
name = "alex"
age = 6
color = "red"
print('my name is','name','and i am, age','year old')

my name is name and i am, age year old

In [45]:
print(f'my name is (name) and i am (age)')

my name is (name) and i am (age)

In [47]:
a = 10
b =3
c=a/b
print(f'(a) divided by (b) gives()c=1f')

(a) divided by (b) gives()c=1f