In [6]:
"kuldeepak kushwaha"

'kuldeepak kushwaha'

In [7]:
25+25

50

In [8]:
print(2)
print("how are you?input")
print("fine")

2
how are you?input
fine

In [9]:
input("enter your college")

's.r.m.c.e.m'

In [10]:
x=10
y=20

In [11]:
college=input("enter the college")

In [12]:
print(x,y)

10 20

In [13]:
print(college)

s.r.c.e.m

# operator in python
- mathimatics
- compersion
- assigment
- logical
- membership
- instance

In [14]:
a=10
b=7

In [15]:
a+b

17

In [16]:
print(a-b)
print(a/b)
print(a*b)

3
1.4285714285714286
70

In [17]:
print(a // b) # integer division (quotient)

1

In [18]:
print(a%b) #reminder

3

In [19]:
print(a**b)#expension

10000000

In [20]:
2+3-10*3+6//2 # operator predence is used

-22

In [21]:
#assigment
size=10

In [22]:
size +=5 # update 5 to existing size

In [23]:
size-=5

In [24]:
del a #destory from memory

In [25]:
size /=2
size *=5
size %=3
size //=2

In [26]:
# comparsion 
x>y

False

In [27]:
x<y

True

In [28]:
100>=20

True

In [29]:
x!=y

True

logical operator
- and -> means every condition should be correct ->gives True when all conditions are true
- or -> means one condition should be correct -> gives True when any of the conditions is True
- not -> all condition is inncorrect -> gives True when the condition is False vice versa

In [30]:
age=18
country="india"

In [31]:
age>18 and country == "india"

False

In [32]:
age==18 or country=="india"

True

In [33]:
a=[2,3,4,5,1]

In [34]:
# membership operatior is used to search in an iterable -> in 
3 in a

True

In [35]:
fridge=['water','ice cream','sweats','chease']

In [36]:
'water' in fridge

True

In [37]:
'Water' in fridge

False

# datatypes
python has basically 9 types of data
****
- integer => 'int'
- float => 'float'
- boolean =>  'bool'' => true'/ 'false'
- nonetype => 'none'
**********
- string => str
- list => list
- tuple => tuple
- set => set 
- dictionary => dict

## casting

the way to convert a value to a datatype

we have special functions for converting a value to another datatype like

- str() tries to change a value to str datatype
- int() tries to chage a value into int datatype
- bool() tries to chane value to bool datatype

In [39]:

a=10
print(type(a))

a=str(a)
print(type(a))

<class 'int'>
<class 'str'>

In [40]:
a= 10
print(type(a))
a=bool(a)
print(type(a))

<class 'int'>
<class 'bool'>

In [41]:
name=input("who are you")
age=input("what is your age")
ans=input("how many days in leap year")
is_married=input("are you married")

print(name,type(name))
print(age,type(age))
print(ans,type(ans))
print(is_married,type(is_married))

kuldeepak kushwaha <class 'str'>
24 <class 'str'>
366 <class 'str'>
no <class 'str'>

In [42]:
age=int(age)
age>18

True

In [44]:
a=int(input('enter a:'))
b=int(input('enter b:'))
a+b

9

In [45]:
a=float(input('enter a:'))
b=float(input('enter b:'))
a+b

90.0

# displayiny output using print

- print functions allows to display output
- we can also set the ending charater in the print function
- we can also set the seperator when displaying multiple values in print

In [ ]:
print("this is line \n this is another line")

this is line
 this is another line

In [ ]:
print("this is line","this is another line",sep="\n")

this is line
this is another line

In [ ]:
print("hello",end=',')
print("india")

hello,india

# displaying content wih varibles

to mix varibles with a string for making a message, we have 5 ways in python

- using simple comma seperated system in print
- using + operator and concatenating values
- using format strings for display
- usinf format() function
- using f-string

In [46]:
name = "alex"
age = 6
color = "red"
print('my name is',name,'and i am', age,'year old','& i like color',color)

my name is alex and i am 6 year old & i like color red

In [47]:
print(f'my name is {name} and i am {age} years old & i like color {color}')

my name is alex and i am 6 years old & i like color red

In [49]:
a = 10
b =3
c=a/b
print(f'{a} divided by {b} gives {c:.1f}')

10 divided by 3 gives 3.3

the end of basic python