# loops
# for 
- the number of repetation is known
- loops run according to iterable (any item tht contain subiteams)

   for temp in iterable:
      statement 1
      statement 2
***      
# while
the number of repetetation is based on condition
while expression:
  statement 1
  statement 2
  .....
  statement n

In [1]:
for i in range(5):
    print('loop code:')

loop code:
loop code:
loop code:
loop code:
loop code:

In [2]:
for i in range(5):
    x = int(input('X:'))
    y = int(input('Y:'))
    s = x + y
    print('total', s)

total 90
total 101
total 11109
total 18193
total 98153757

end = line change k line

In [3]:
for i in range(-5,25):
    print(i,end=' ')

-5 -4 -3 -2 -1 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24

In [4]:
for i in range(5,25,2):
    print(i,end=' ')

5 7 9 11 13 15 17 19 21 23

In [5]:
for i in range(5,101,5):
    print(i,end=' ')

5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100

In [6]:
for i in range(10,0,-1):
    print(i,end=' ')

10 9 8 7 6 5 4 3 2 1

### displaying only numbers divisble by 5 and 7 in a Loop

In [7]:
for i in range(1,1000):
    if i % 5 == 0 and i % 7 == 0:
        print(i,end=' ')

35 70 105 140 175 210 245 280 315 350 385 420 455 490 525 560 595 630 665 700 735 770 805 840 875 910 945 980

In [8]:
total = 0
for i in range(1,1000):
    if i % 5 == 0 and i % 7 == 0:
        total+=i
print(total)

14210

### Print the total of all even numbers from 1 - 15000

In [9]:
total = 0
for i in range(1,15001):
    if i % 2 == 0:
       total+= i 
print(total)

56257500

In [10]:
sum(range(2,5000,2))

6247500

### interating data structures
ex : string, list, set etc

In [11]:
name = "alexandar maximus"
for char in name:
    print(char)

a
l
e
x
a
n
d
a
r

m
a
x
i
m
u
s

In [12]:
words = ["we", "are", "going", "to", "eat", "the", "pizza"]
for word in words:
    print(word)

we
are
going
to
eat
the
pizza

In [13]:
for word in words:
    print(word,len(word))

we 2
are 3
going 5
to 2
eat 3
the 3
pizza 5

In [14]:
data = [ [1,2,3], [4,5,6], [7,8,9]]
for item in data:
    print(item)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [15]:
for items in data:
    for value in items:
        print(value,end=' ')

1 2 3 4 5 6 7 8 9

# wap to print thr average of a list given below
   [12,1,23,34,45,56,23,12]

In [16]:
list = [12,1,23,45,56,23,12]
total = 0

for number in list: 
    total += number

print("Average",number/len(list))

Average 1.7142857142857142

# WAP to print the min and max from a list given 
[2,3,1,23,5,45,657,23,23,12]

In [17]:
list = [2,3,1,23,5,45,657,23,23,12]
min = 0
max = 0
for number in list:
    if min == 0:
        min = number
    elif number<min:
        min = number
    elif number>max:
        max = number
print("min",min)
print("max",max)

min 1
max 657

# WAP to take input from uder 10 times and then calculate and average

In [18]:
x = input('X:')
y = input('Y:')
s = x + y
total +=i
avg = total / 10
print(total)
print(avg)

15172
1517.2

## While

In [19]:
num = int(input('Enter a number'))
while num > 0:
    print("in loop")
    num -= 1
print("lopp closed")

in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
in loop
lopp closed

In [20]:
while input(">>") == "y":
    print("this is a loop")

In [21]:
while input("Add Number(Y/N)") == 'y':
    a = int(input("Enter Number 1:"))
    b = int(input("Enter Number 2:"))
    print(f'{a} + {b} = {a+b}')

45 + 45 = 90

### calculate the grade of students and their percentage from marks based on 5 sunjects

In [22]:
while input("Calculate Marks") == "yes":
    eng = int(input("English Marks:"))
    hin = int(input("Hindi Marks:"))
    maths = int(input("Maths Marks:"))
    sci = int(input("Science Marks:"))
    evs = int(input("Evs Marks:"))
    total = eng + hin + maths + sci + evs
    perc = total / 5
    print("Your Repot:")
    print(f"PERCENTAGE: {perc}%")
    if perc > 80:
        grade = "A"
    elif perc > 60 and perc <= 80:
        grade = "B"
    elif perc > 40 and perc <= 60:
        grade = "C"
    else:

        grade = "F"
    print(f"GRADE: {grade}")  
    print("*" * 10)

# Break and Continue Keywords
- break is used for stopping thr loop during an execution
- continue is used for skipping a loop execution

In [23]:
# infimte loop with always true conditions
while True:
    nmae = input("enter the name of fav fruit")
    if len(name) <3:
        break
    print(f">> {name}")

>> alexandar maximus
>> alexandar maximus
>> alexandar maximus
>> alexandar maximus
>> alexandar maximus
>> alexandar maximus
>> alexandar maximus
>> alexandar maximus
>> alexandar maximus
>> alexandar maximus
>> alexandar maximus
>> alexandar maximus
>> alexandar maximus
>> alexandar maximus
>> alexandar maximus
>> alexandar maximus

In [ ]:
#infite loop with continue
total =0
while True:
    amt = input("enter amount spend")
    if amt.isnumeric():
        amt = int(amt)
        if amt < 100:
            continue # skip
        total += amt
    else:
        break   
print(f"{total} amt spend")