# loops
- # for 
loops run according to iterable (any item tht contain subiteams)
the number of repetetation is known
   for temp in iterable:
      statement 1
      statement 2
- # while
the number of repetetation is based on condition
while expression:
  statement 1
  statement 2
  .....
  statement n

In [3]:
for i in range(5):
    print('loop code:')

loop code:
loop code:
loop code:
loop code:
loop code:

In [2]:
for i in range(5):
    x = int(input('X:'))
    y = int(input('Y:'))
    s = x + y
    print('total', s)

total 14
total 12
total 168
total 121
total 124

end = line change k line

In [6]:
for i in range(-5,25):
    print(i,end=' ')

-5 -4 -3 -2 -1 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24

In [7]:
for i in range(5,25,2):
    print(i,end=' ')

5 7 9 11 13 15 17 19 21 23

In [8]:
for i in range(5,101,5):
    print(i,end=' ')

5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100

In [9]:
for i in range(10,0,-1):
    print(i,end=' ')

10 9 8 7 6 5 4 3 2 1

displaying only numbers divisble by 5 and 7 in a Loop

In [12]:
for i in range(1,1000):
    if i % 5 == 0 and i % 7 == 0:
        print(i,end=' ')

35 70 105 140 175 210 245 280 315 350 385 420 455 490 525 560 595 630 665 700 735 770 805 840 875 910 945 980

In [16]:
total = 0
for i in range(1,1000):
    if i % 5 == 0 and i % 7 == 0:
        total+=i
print(total)

14210

In [24]:
total = 0
for i in range(1,15001):
    if i % 2 == 0:
       total+= i 
print(total)

56257500

In [25]:
sum(range(2,5000,2))

6247500

interating data structures
ex : string, list, set etc

In [26]:
name = "alexandar maximus"
for char in name:
    print(char)

a
l
e
x
a
n
d
a
r

m
a
x
i
m
u
s

In [28]:
words = ["we", "are", "going", "to", "eat", "the", "pizza"]
for word in words:
    print(word)

we
are
going
to
eat
the
pizza

In [29]:
for word in words:
    print(word,len(word))

we 2
are 3
going 5
to 2
eat 3
the 3
pizza 5

In [30]:
data = [ [1,2,3], [4,5,6], [7,8,9]]
for item in data:
    print(item)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [32]:
for items in data:
    for value in items:
        print(value,end=' ')

1 2 3 4 5 6 7 8 9