## Properties
- is unorder
- is unindexed
- is mutable(dynamic can only store immutable data)
- is heterogenous (can store different datatype element)
- is represented by square breacket {  }
- has a function called set( )
- can hold unique elements
- cannot be nested

#### what we are going to do
- create
- loop | & - ^
- operation
- functions
- comprehension
- map and filter

In [41]:
# empty set will not be {}
x = set()
x

set()

In [42]:
# single element set 
x = {1}
x

{1}

In [43]:
x= {2}
x
# multi element set
x ={12,23,321,312,312}
x

{12, 23, 312, 321}

In [44]:
a = "albert eisteine"
print(set(a))

{'a', 'i', 'r', 'l', 's', 'b', 't', ' ', 'e', 'n'}

In [45]:
for item in x:
 print(item)

312
321
12
23

In [46]:
# operations in set
a ={1,2,3,4}
b = {2,1,3}
c={4,5,6,1}
a|b|c # union

{1, 2, 3, 4, 5, 6}

In [47]:
avengers ={'ironman', "captain america" ,"hulk","black widow","hawkeye", "thor"}
caws = {"captain america", " falcon", "black window","winter solider"}
cacw = {"captain america", " falcon", "black window", "antman", "winter solider" ,"spiderman" , "ironman", "black panter" , "vision","scarlet witch"}
print(avengers|caws) # uninon

{'winter solider', 'captain america', 'hulk', 'thor', 'black window', 'ironman', 'hawkeye', 'black widow', ' falcon'}

In [48]:
print(avengers & caws) # intersection

{'captain america'}

In [49]:
print(cacw - avengers) # different

{'winter solider', 'black panter', 'black window', 'spiderman', 'scarlet witch', 'vision', 'antman', ' falcon'}

In [50]:
print(cacw - caws)

{'black panter', 'spiderman', 'ironman', 'scarlet witch', 'vision', 'antman'}

In [51]:
# symmetric difference
print(avengers ^ caws)

{'winter solider', 'black window', 'hulk', 'thor', 'ironman', 'hawkeye', 'black widow', ' falcon'}

In [52]:
a ^ c

{2, 3, 5, 6}

In [53]:
x = {1,2,3,3,5}
y ={2,3} # y is subset of x, x is superset of y
z= {3,4,5} # z in not a subset of x, also is not a superset of z
a = {11,21,33}# a is disjointed from x, z also y

In [54]:
y < x # subset of x

True

In [55]:
z <y # not subset of x

False

In [56]:
x > y # is superset of y

True

In [57]:
x > z # is not superset of z

False

#### functions
- adding items
  - add
  - update
- remove items
  - remove
  - pop
  - clear
- set theory
  - union
  - intersection
  - difference
  - symmetricdifference

In [58]:
a = set()
a.add(1)
a.add(12)
a.add(9)
a.update([1,62,63]) # list
a.update((11,12,33)) # tuple
a.update({51,52,53}) # set
print(a)

{1, 33, 9, 11, 12, 51, 52, 53, 62, 63}

In [59]:
a.intersection_update([1,11,12,13,14])
a

{1, 11, 12}

In [60]:
if  11 in a:
  a.remove(11)
a

{1, 12}

In [61]:
a.pop()

1

In [62]:
a.clear()
a

set()

In [63]:
a.discard(9)
a

set()

In [64]:
b

{1, 2, 3}

In [65]:
caws.union(avengers)

{' falcon',
 'black widow',
 'black window',
 'captain america',
 'hawkeye',
 'hulk',
 'ironman',
 'thor',
 'winter solider'}

In [66]:
caws.intersection(caws)

{' falcon', 'black window', 'captain america', 'winter solider'}

In [67]:
caws.difference(caws)

set()

In [68]:
avengers.symmetric_difference(caws)

{' falcon',
 'black widow',
 'black window',
 'hawkeye',
 'hulk',
 'ironman',
 'thor',
 'winter solider'}

In [69]:
avengers.discard('hulk')
avengers

{'black widow', 'captain america', 'hawkeye', 'ironman', 'thor'}

In [70]:
b.issubset(x)

True

In [71]:
print(b,x)

{1, 2, 3} {1, 2, 3, 5}

In [72]:
print(x.issuperset(b))

True

In [73]:
x.isdisjoint(b)

False

In [74]:
x.isdisjoint(avengers)

True

In [75]:
import random
x = []
for i in range(1,100):
    x.append(random.randint(1,10))
print(x)

[2, 1, 8, 8, 3, 4, 5, 4, 4, 8, 6, 8, 9, 9, 10, 8, 9, 1, 7, 8, 10, 6, 5, 3, 4, 2, 5, 2, 4, 2, 9, 6, 1, 5, 10, 3, 2, 3, 9, 10, 2, 8, 7, 1, 6, 3, 8, 6, 9, 2, 1, 3, 4, 7, 1, 1, 7, 8, 5, 10, 9, 10, 2, 7, 4, 3, 7, 1, 3, 9, 6, 5, 9, 10, 3, 1, 8, 2, 3, 3, 8, 6, 3, 7, 7, 6, 3, 1, 10, 3, 8, 9, 2, 2, 5, 6, 2, 8, 4]

In [76]:
x= list(set(x)) # this is remove of duplicate from list
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [77]:
x = set(range(1,11)) 
x

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [78]:
x1 = {i*10 for i in x} # comprehension
x1

{10, 20, 30, 40, 50, 60, 70, 80, 90, 100}

In [79]:
x2 = set(map(lambda i : i**2,x))
x2

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}