## Properties
- is unorder
- is unindexed
- is mutable(dynamic can only store immutable data)
- is heterogenous (can store different datatype element)
- is represented by square breacket {}
- has a function called set()
- can hold unique elements
- cannot be nested

#### what we are going to do
- create
- loop
- operation
- functions
- comprehension
- map and filter

In [3]:
x = set()
x

set()

In [14]:
x= {2}
x
x ={12,23,321,312,312}
x

{12, 23, 312, 321}

In [12]:
a = "albert eisteine"
print(set(a))

{' ', 'e', 'i', 'r', 'l', 't', 's', 'a', 'b', 'n'}

In [17]:
for item in x:
 print(item)

312
321
12
23

In [19]:
a ={1,2,3,4}
b = {2,1,3}
c={4,5,6,1}
a|b|c

{1, 2, 3, 4, 5, 6}

In [31]:
avengers ={'ironman', "captain america" ,"hulk","black wido"}
caws = {"captain america", " flaken", "black windo"}
cacw = {"captain america", " flaken", "black windo", "antman"}
print(avengers|caws) # uninon

{'black windo', 'captain america', 'ironman', 'black wido', ' flaken', 'hulk'}

In [23]:
print(avengers & caws)

{'captain america'}

In [25]:
print(cacw - avengers)

{' flaken', 'black windo', 'antman'}

In [30]:
print(cacw - caws)

{'antman'}

In [32]:
print(avengers ^ caws)

{'black wido', 'hulk', 'black windo', 'ironman', ' flaken'}

In [33]:
a ^ c

{2, 3, 5, 6}

In [37]:
x = {1,2,3,3,5}
y ={2,3}
z= {3,4,5}
a = {11,21,33}

In [35]:
y < x

True

In [36]:
z <y

False

In [46]:
 a = set()
 a.add(1)
 a.add(12)
 a.add(9)
 a.update([1,2,3])
 a.update((11,12,450))
 a.update({51,52,55})
 print(a)

{1, 2, 3, 450, 9, 11, 12, 51, 52, 55}

In [47]:
a

{1, 2, 3, 9, 11, 12, 51, 52, 55, 450}

In [53]:
if  11 in a:
  a.remove(11)
a

{1, 2, 3, 9, 12, 51, 52, 55, 450}

In [56]:
a.pop()

1

In [57]:
a.clear()
a

set()

In [59]:
a.discard(9)
a

set()

In [60]:
b

{1, 2, 3}

In [62]:
import random
x = []
for i in range(1,100):
    x.append(random.randint(1,10))
print(x)

[5, 5, 7, 4, 3, 8, 2, 1, 3, 3, 10, 2, 10, 5, 5, 7, 9, 9, 5, 3, 7, 7, 5, 10, 8, 4, 9, 2, 1, 9, 1, 7, 8, 5, 6, 9, 10, 4, 1, 5, 8, 6, 10, 7, 1, 3, 6, 4, 5, 2, 5, 1, 10, 3, 3, 3, 2, 5, 1, 7, 9, 5, 7, 3, 7, 1, 9, 1, 1, 8, 9, 6, 10, 7, 5, 3, 5, 1, 3, 8, 2, 1, 2, 5, 5, 6, 5, 3, 8, 3, 2, 9, 3, 5, 5, 8, 8, 4, 5]

In [63]:
x= list(set(x))
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [65]:
x = set(range(1,11))
x

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [67]:
x1 = {i*10 for i in x}
x1

{10, 20, 30, 40, 50, 60, 70, 80, 90, 100}

In [73]:
x2 = set(map(lambda i : i**2,x))
x2

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}