## Properties
- is order
- is indexed
- is immutable(cannot change at runtime)
- is heterogenous (can store different datatype element)
- is represented by square breacket ()
- has a function called tuple()
- can hold duplicate elements
- can be nested

#### what we are going to do
- creation
- indexing and slicing
- loop
- operation
- functions
- map and filter

In [21]:
# single element tuple
x = (2,) # a comma after the first element
type(x)

tuple

In [2]:
a ='Apple'
at = tuple(a)
at

('A', 'p', 'p', 'l', 'e')

In [3]:
b = [1,2,3,]
bt = tuple(b)
bt

(1, 2, 3)

In [24]:
# nested tuple
geo = ((1,2), (3,4))
marks = [(40,45,22), (12,34)]

In [23]:
## indexing and slicing
at[0] # first elemnt

'A'

In [25]:
at [-1] # last element

'e'

In [27]:
at[3] # random

'l'

In [28]:
at[: 3] # first three

('A', 'p', 'p')

In [29]:
at[-2:] # last

('l', 'e')

In [30]:
at[1:4:] # 1st to 3rd index

('p', 'p', 'l')

In [10]:
for i in bt:
    print(i)

1
2
3

In [31]:
bt + at # concatenate

(1, 2, 3, 'A', 'p', 'p', 'l', 'e')

In [32]:
(1,2) * 20 # duplication

(1,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 2)

In [33]:
# function
a = (1,23,4,5,6,7,1,34,56,6)
a.count(1)

2

In [14]:
a.index(56)

8

### Comprehension and map and filter

In [34]:
x= (i + 5 for i in a) # actually a generator
print(tuple(x))

(6, 28, 9, 10, 11, 12, 6, 39, 61, 11)

In [16]:
tuple(map(lambda i : i**2,a))

(1, 529, 16, 25, 36, 49, 1, 1156, 3136, 36)

In [17]:
tuple(map(lambda i : i % 2 == 0,a))

(False, False, True, False, True, False, False, True, True, True)

In [18]:
tuple(map(lambda i : i % 2,a))

(1, 1, 0, 1, 0, 1, 1, 0, 0, 0)

In [35]:
# list to tuple and vice versa
x = [1,2,3]
xt = tuple(x)
print(xt,x)

(1, 2, 3) [1, 2, 3]

In [20]:
x1 = list(xt)
print(xt,x1)

(1, 2, 3) [1, 2, 3]