In [1]:
x = (2,)
type(x)

tuple

In [3]:
a ='Apple'
at = tuple(a)
at

('A', 'p', 'p', 'l', 'e')

In [5]:
b = [1,2,3,]
bt = tuple(b)
bt

(1, 2, 3)

In [6]:
geo = ((1,2), (3,4))
marks = [(40,45,22), (12,34)]

In [8]:
at[0]

'A'

In [9]:
at [-1]

'e'

In [11]:
at[: 3]

('A', 'p', 'p')

In [12]:
at[-2:]

('l', 'e')

In [13]:
at[1:4:]

('p', 'p', 'l')

In [14]:
for i in bt:
    print(i)

1
2
3

In [15]:
bt + at

(1, 2, 3, 'A', 'p', 'p', 'l', 'e')

In [18]:
(1,2) * 20

(1,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 2)

In [20]:
a = (1,23,4,5,6,7,1,34,56,6)
a.count(1)

2

In [21]:
a.index(56)

8

In [24]:
x= (i + 5 for i in a)
print(tuple(x))

(6, 28, 9, 10, 11, 12, 6, 39, 61, 11)

In [25]:
tuple(map(lambda i : i**2,a))

(1, 529, 16, 25, 36, 49, 1, 1156, 3136, 36)

In [27]:
tuple(map(lambda i : i % 2 == 0,a))

(False, False, True, False, True, False, False, True, True, True)

In [28]:
tuple(map(lambda i : i % 2,a))

(1, 1, 0, 1, 0, 1, 1, 0, 0, 0)

In [29]:
x = [1,2,3]
xt = tuple(x)
print(xt,x)

(1, 2, 3) [1, 2, 3]

In [30]:
x1 = list(xt)
print(xt,x1)

(1, 2, 3) [1, 2, 3]