### Create a list of 10 fruits , then generaye a list of fruits using comprehension the contain 6 or less characters

In [12]:
fruits = ['apple', 'mango', 'banana','orange', 'graphe', 'guava', 'kiwi', 'watermelon', 'melon', 'pineapple']
fruits2 = []
for i in fruits:
    if len(i) <=6:
     fruits2.append(i)
    
fruits

['apple',
 'mango',
 'banana',
 'orange',
 'graphe',
 'guava',
 'kiwi',
 'watermelon',
 'melon',
 'pineapple']

#### Create a list of 25 numbers and then generate a list with each element a cube of original value.

In [21]:
num = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
num2 = list(map(lambda i: i**3 , num))
num2

[1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625]

#### Create a list 10 words and then extract all the words starting with letter A OR a using map.

In [32]:
x = ['apple', 'mango', 'banana','orange', 'graphe', 'guava', 'kiwi', 'watermelon', 'melon', 'pineapple']
y = list(i for i in x if i.startswith('a') or i.startswith('A'))
y

['apple']

#### Calculate the sum of the values in tyhe list ['$100' , '$200', '$230', $'120', '$240']

In [26]:
a = ['$100' , '$200', '$230', '$120', '$240']
b = list(map(lambda i: int(i[1::]), a))
sum(b)

890